 <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
         <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-user"></span> 财务管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
            <li><a href="<{:url('agencyfund/recharge')}>" class="am-cf"><span class="am-icon-rmb"></span> 我要充值</a></li>
            <li><a href="<{:url('agencyfund/topuplist')}>"><span class="am-icon-table"></span> 资金记录</a></li>
			<li><a href="<{:url('agencyinvite/index')}>"><span class="am-icon-table"></span> 邀请码</a></li>
          </ul>
        </li>
		 <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-book"></span> 软文发布 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
            <li><a href="<{:url('article/index')}>" class="am-cf"><span class="am-icon-pencil-square-o"></span> 发布稿件</a></li>
            <li><a href="<{:url('agencyorder/home')}>"><span class="am-icon-list"></span> 稿件列表</a></li>
			<li><a href="<{:url('agencyorder/member')}>"><span class="am-icon-list"></span> 会员订单</a></li>
			<li><a href="<{:url('agencymedia/priceadd')}>"><span class="am-icon-list"></span> 价格设置</a></li>
          </ul>
        </li>
		<li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file-video-o"></span> 会员管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav5">
            <li><a href="<{:url('agencymember/member')}>" class="am-cf"><span class="am-icon-plus"></span> 会员列表</a></li>
           </ul>
        </li>
		<li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav6'}"><span class="am-icon-book"></span> 站点设置 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav6">
            <li><a href="<{:url('sitemanagement/pictureadvertisement')}>" class="am-cf"><span class="am-icon-plus"></span> 首页图片设置</a></li>
			<li><a href="<{:url('sitemanagement/infoset')}>" class="am-cf"><span class="am-icon-list"></span> 站点信息设置</a></li>
			<li><a href="<{:url('sitemanagement/pay')}>" class="am-cf"><span class="am-icon-list"></span> 支付设置</a></li>
			<li><a href="<{:url('sitemanagement/setmsg')}>" class="am-cf"><span class="am-icon-list"></span> 短信设置</a></li>
           </ul>
        </li>
       </ul>
      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p>
		   <span>业务咨询:99431499 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=99431499&site=qq&menu=yes"><img border="0" src="/static/img/qq.gif"></a></span>
		    <br>
		    <span>技术支持:1227187938 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1227187938&site=qq&menu=yes"><img border="0" src="/static/img/qq.gif"></a></span>
        </div>
      </div>
    </div>
  </div>