<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>后台管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="/favicon.ico"  rel="shortcut icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css" media="all" />
  <script type="text/javascript" src="__STATIC__/lib/jquery-1.10.2.js"></script>
  <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body>