<{include file="public/header"}>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <{include file="public/main"}>
  <!-- sidebar end -->
  <!-- content start -->
 <div class="admin-content">
    <div class="admin-content-body">
       <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-warning am-text-lg">修改密码</strong>
            </div>
    </div>
	<hr>
	<div class="am-g">
	  <div class="am-u-sm-12">
		<div id="my_article_wrapper" class="dataTables_wrapper no-footer">
			<div class="table-list table-list2" id="result" style="padding:1.5rem;">
				 <form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">原始密码</label>
						<div class="layui-input-block">
							<input type="Password" name="OldPassword" lay-verify="required" autocomplete="off" placeholder="请输入原始密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">修改密码</label>
						<div class="layui-input-block">
							<input type="Password" name="Password" lay-verify="required" autocomplete="off" placeholder="请输入修改密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">确认密码</label>
						<div class="layui-input-block">
							<input type="Password" name="AffirmPassword" lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="am-btn am-btn-primary" lay-submit="" lay-filter="SubmitBut">立即提交</button>
							<button type="reset" class="am-btn am-btn-default">重置</button>
						</div>
					</div>
				</form>
			</div>
		  <div class="clear"></div>
		</div>
	   </div>
	</div>
</div>
<{include file="public/footer"}>
<link rel="stylesheet" href="__STATIC__/lib/layui/css/layui.css" />
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js"></script>
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer;
        //监听提交
        form.on('submit(SubmitBut)', function(data){
            //console.log(data);
            SaveMemberInfo(data.field);
            return false;
        });
    });
    function SaveMemberInfo(Data) {
        if(Data.OldPassword==undefined || Data.OldPassword==""){
            layer.msg('旧密码不能为空');
            return false;
        }
        if(Data.Password==undefined || Data.Password==""){
            layer.msg('新密码不能为空');
            return false;
        }
        if(Data.AffirmPassword==undefined || Data.AffirmPassword==""){
            layer.msg('确认密码不能为空');
            return false;
        }
        if(Data.Password !=Data.AffirmPassword){
            layer.msg('您两次密码输入不一致');
            return false;
        }
        $.ajax({
            url:'<{:url('password')}>',
            type:'POST',
            dataType:'json',
            data:{OldPassword:Data.OldPassword,MemberPwd:Data.Password},
            cache:false,
            success:function(Result)
            {
                if(Result==0) {
                    layer.msg('修改成功');
                    return false;
                }else if(Result==1){
                    layer.msg('旧密码输入有误');
                    return false;
                }else{
                    layer.msg('修改错误');
                    return false;
                }
            }
        });
    }
</script>
</body>
</html>