<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/agency/xadmin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/agency/xadmin/css/xadmin.css">
    <script type="text/javascript" src="__STATIC__/lib/jquery-1.10.2.js"></script>
    <script src="__STATIC__/agency/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/agency/xadmin/js/xadmin.js"></script>
</head>
<body class="login-bg">
<div class="login layui-anim">
    <div class="message">后台登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" autocomplete="off" type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" lay-verify="required" autocomplete="off" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">
        <input name="code" lay-verify="required" autocomplete="off" placeholder="验证码"  type="text" class="layui-input layui-input-code" style="width: 180px; float: left;">
        <img id="ImgCode" src="<{:url('Captchashow/VerificationCode')}>" onclick="this.src='<{:url('Captchashow/VerificationCode')}>?'+Math.random();" style="width: 150px; height: 48px; float: left; display: block; margin-left: 10px; cursor:pointer;" />
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
</div>
<script>
    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(login)', function(data){
                LoginCheck(data.field);
                return false;
            });
        });
    });
    function LoginCheck(Data) {
        $.ajax({
            url:'<{:url('check')}>',
            type:'POST',
            dataType:'json',
            data:Data,
            cache:false,
            success:function(Result)
            {
                $('#ImgCode').attr('src','<{:url('Captchashow/VerificationCode')}>?'+Math.random());
                if(Result.code=='0'){
                    layer.msg("登录成功",{time:2000},function () {
                        parent.location.href='<{:url('admin/index')}>';
                    });
                    return false;
                }else{
                    layer.msg(Result.msg);
                    return false;
                }
            }
        });
    }
</script>
</body>
</html>