<{include file="public/home_header" /}>
<div class="max hezuo" style="padding-top:30px;">
  <div class="box" style="background:#fff;">
      <div class="lmt" aos="fade-up" aos-delay="250"> <strong>— 关于我们 —</strong>
      <p>ABOUT US</p>
    </div>
    <div class="neirong"> 对于人们来说，家庭装修应该都不是陌生的，但是必须要知道家装装修流程，要按照正确的流程来进行装修，这样才能够确保装修的完整性。而且要知道家装有哪些风格，装修的风格可以达到几十种，而且每一种风格都体现出不同的美，所以在选择家装的风格的时候，首先要确定个人爱好是什么。<br>
      <br>
   1、前期设计，提前做好设计，这是必不可少的一个步骤，能让后面的步骤进行地更加流畅。在前期设计中，必须还要做的一件事，那就是对自己的房间进行一次详细的测量，测量的内容主要包括：1、明确装修过程涉及的面积。是贴砖面积、墙面漆面积、壁纸面积、地板面积：2、明确主要墙面尺寸。是以后需要设计摆放家具的墙面尺寸。顺道提醒大家，开工之前不要忘记去物业办理开工手续，交纳装修押金。 <br>
      <br>
      2、主体拆改，进入到施工阶段，主体拆改是先上的一个项目，主要包括拆墙、砌墙、铲墙皮、换塑钢窗等等。主体拆改说白了，就是先把工地的框架先搭起来 <br>
      <br>
      3、土建改造阶段，进场，拆墙，砌墙；定做的门、橱柜、浴柜、家具、散热器等进行初次测量设计；凿线槽，水电改造；封埋线槽隐蔽水电改造工程；做防水工程，卫生间（厨房）地面做24小时闭水试验；卫生间及厨房贴墙面、地面磁砖；定做的门、橱柜、浴柜、家具等进行复尺测量。 <br>
      <br>
      4、基层处理，木工进场，吊天花板、石膏线；包门套、窗套，制作木柜框架（定做除外）；同步制作各种木门、造型门（定做除外）；木制面板刷防尘漆（清油）；窗台大理石台面找平铺设；木饰面板粘贴，线条制作并精细安装；墙面基层处理，打磨，找平；家具、门窗边接缝处粘贴不干胶（保护边）。 <br>
      <br>
      5、整体装饰过程，其中包括贴墙面砖、刷漆、吊顶、橱柜安装等事项。砖工的工作包括1、过门石、大理石窗台的安装。过门石的安装可以和铺地砖一起完成，也可以在铺地砖之后，大理石窗台的安装一般在窗套做好之后，安装大理石的工人会准备玻璃胶，顺手就把大理石和窗套用玻璃胶封住了。 <br>
      <br>
      6、细节过程，家居配饰，家装的后一步，而且已经由装修转为装饰了，包括窗帘的安装都属于家居配饰环节。至于买窗帘，好是在订好家具之后以免风格冲突。家居配饰还包括可以考虑买一些绿色植物、挂墙画、摆设工艺品等等。 </div>
  </div>
</div>
 <div class="max footer">
    <div class="box">
     <p></p> 全网媒体直线发稿、24小时自助发稿平台、助您提升营销效率！</p> <p>
注册会员 尽享全网3万多家媒体资源！</p>
    </div>
    <div class="lianxi">
       咨询热线：18838966664（上午8:30~12:00  下午14:00~18:00）<br>
软文之家是一个专业的新闻发稿平台，平台拥有60000多家新闻媒体一手资源<br>
已为上万家企业提供软文推广，软文营销，软文发布，新闻发布，新闻营销等服务。
    </div>
 </div>
<script>
AOS.init({
	easing: 'ease-out-back',
	duration: 800,
	once:true
});
</script>
</body>
</html>