<{include file="public/home_header" /}>
<div class="banner">
  <div class="swiper-container banner-list">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="javascript:;" style="background:url(__STATIC__/admin/skin/images/banner.jpg) no-repeat center; background-size:cover;"></a></div>
      <div class="swiper-slide"><a href="javascript:;" style="background:url(__STATIC__/admin/skin/images/banner.jpg) no-repeat center; background-size:cover;"></a></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="max ziyuan">
  <div class="box">
    <div class="lmt"> <strong aos="fade-up" aos-delay="250">— 媒体资源 —</strong> <span aos="fade-up" aos-delay="350">MEDIA RESOURCES</span>
      <p aos="fade-up" aos-delay="450">拥有6万多家媒体资源，致力打造中国一流媒体营销平台</p>
    </div>
    <ul>
      <li><img src="__STATIC__/admin/skin/images/zy1.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy2.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy3.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy4.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy5.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy6.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy7.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy8.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy9.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy10.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy11.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy12.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy13.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy14.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/zy15.jpg"></li>
    </ul>
  </div>
</div>
<div class="max advantage">
  <div class="box">
    <div class="lmt"> <strong aos="fade-up" aos-delay="250">— 我们的优势 —</strong> <span aos="fade-up" aos-delay="350">WE HAVE THE ADVANTAGE</span>
      <p aos="fade-up" aos-delay="450">树立良好企业品牌，迅速打造知名品牌</p>
    </div>
    <ul>
      <li aos="fade-right" aos-delay="250"> <img src="images/youshi_img1.png"> <strong>钻石服务</strong> <span>一对一专属客户经理</span>
        <p>为企业提供各种形式的新闻报道，发布在权威的网络媒体上，提高公众对企业产品或服务的认知度，塑造良好品牌形象，并提高销售转化率的营销服务。</p>
      </li>
      <li aos="fade-right" aos-delay="450"> <img src="images/youshi_img2.png"> <strong>直线发稿</strong> <span>千家媒体直线发稿</span>
        <p>软文之家拥有两千家直编资源， 用户提交需求后，当天即可发布！一步到位，为您个人和公司节约了大量的时间和金钱！</p>
      </li>
      <li aos="fade-right" aos-delay="650"> <img src="images/youshi_img3.png"> <strong>海量媒体资源</strong> <span>3万多家媒体资源</span>
        <p>软文之家提供上万个媒体的海量精准数据，涵盖网络媒体、微信微博、视频、报纸杂志、贴吧论坛、问答百科等类型，是中国媒体发布行业的领跑者。</p>
      </li>
    </ul>
  </div>
</div>
<div class="max case">
  <div class="box">
    <div class="lmt"> <strong aos="fade-up" aos-delay="250">— 成功案例 —</strong> <span aos="fade-up" aos-delay="350">WE HAVE THE ADVANTAGE</span>
      <p aos="fade-up" aos-delay="450">树立良好企业品牌，迅速打造知名品牌</p>
    </div>
    <div class="swiper-container case-list">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="images/case-pic1.jpg" class="case-pic">
          <ul class="case-img-right">
            <li><img src="images/pa.jpg"/></li>
            <strong>平安企业宣传新闻</strong>
            <p>记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉记者从中国平安保险集团获悉，截至今年6月末，中国平安支持国家铁路建设资金已达20</p>
            <li>
              <ul class="newsnet">
                <li><a target="_blank" href="http://finance.qq.com/a/20171003/008329.htm">腾讯财经</a></li>
                <li><a target="_blank" href="http://news.xinhuanet.com/2017-10/03/c_1121759698.htm">新华网</a></li>
                <li><a target="_blank" href="http://news.sina.com.cn/o/2017-10-03/doc-ifymmiwm4285205.shtml">新浪新闻</a></li>
                <li><a target="_blank" href="http://news.ifeng.com/a/20171003/52289285_0.shtml">凤凰网</a></li>
                <li><a target="_blank" href="http://insurance.hexun.com/2017-10-03/191109552.html">和讯网</a></li>
                <li><a target="_blank" href="http://www.nbd.com.cn/articles/2017-10-03/1152011.html">每日经济新闻网</a></li>
                <li><a target="_blank" href="http://economy.southcn.com/e/2017-10/03/content_177961432.htm">南方网</a></li>
                <li><a target="_blank" href="http://news.eastday.com/eastday/13news/auto/news/finance/20171003/u7ai7133278.html">东方网</a></li>
                <li><a target="_blank" href="http://news.cqnews.net/html/2017-10/03/content_43048065.htm">华龙网</a></li>
                <li><a target="_blank" href="http://stock.10jqka.com.cn/20171003/c600687844.shtml">同花顺财经网</a></li>
                <li><a target="_blank" href="http://www.howbuy.com/news/2017-10-03/5535633.html">财经新闻网</a></li>
                <li><a target="_blank" href="http://ex.cssn.cn/ddzg/ddzg_ldjs/ddzg_sh/201710/t20171003_3660059.shtml">中国社科网</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide"> <img src="images/case-pic1.jpg" class="case-pic">
          <ul class="case-img-right">
            <li><img src="images/pa.jpg"/></li>
            <strong>平安企业宣传新闻</strong>
            <p>记者从中国平安保险集团获悉，截至今年6月末，中国平安支持国家铁路建设资金已达200亿元，其中投资京沪高铁项目63亿元</p>
            <li>
              <ul class="newsnet">
                <li><a target="_blank" href="http://finance.qq.com/a/20171003/008329.htm">腾讯财经</a></li>
                <li><a target="_blank" href="http://news.xinhuanet.com/2017-10/03/c_1121759698.htm">新华网</a></li>
                <li><a target="_blank" href="http://news.sina.com.cn/o/2017-10-03/doc-ifymmiwm4285205.shtml">新浪新闻</a></li>
                <li><a target="_blank" href="http://news.ifeng.com/a/20171003/52289285_0.shtml">凤凰网</a></li>
                <li><a target="_blank" href="http://insurance.hexun.com/2017-10-03/191109552.html">和讯网</a></li>
                <li><a target="_blank" href="http://www.nbd.com.cn/articles/2017-10-03/1152011.html">每日经济新闻网</a></li>
                <li><a target="_blank" href="http://economy.southcn.com/e/2017-10/03/content_177961432.htm">南方网</a></li>
                <li><a target="_blank" href="http://news.eastday.com/eastday/13news/auto/news/finance/20171003/u7ai7133278.html">东方网</a></li>
                <li><a target="_blank" href="http://news.cqnews.net/html/2017-10/03/content_43048065.htm">华龙网</a></li>
                <li><a target="_blank" href="http://stock.10jqka.com.cn/20171003/c600687844.shtml">同花顺财经网</a></li>
                <li><a target="_blank" href="http://www.howbuy.com/news/2017-10-03/5535633.html">财经新闻网</a></li>
                <li><a target="_blank" href="http://ex.cssn.cn/ddzg/ddzg_ldjs/ddzg_sh/201710/t20171003_3660059.shtml">中国社科网</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide"> <img src="images/case-pic1.jpg" class="case-pic">
          <ul class="case-img-right">
            <li><img src="images/pa.jpg"/></li>
            <strong>平安企业宣传新闻</strong>
            <p>记者从中国平安保险集团获悉，截至今年6月末，中国平安支持国家铁路建设资金已达200亿元，其中投资京沪高铁项目63亿元</p>
            <li>
              <ul class="newsnet">
                <li><a target="_blank" href="http://finance.qq.com/a/20171003/008329.htm">腾讯财经</a></li>
                <li><a target="_blank" href="http://news.xinhuanet.com/2017-10/03/c_1121759698.htm">新华网</a></li>
                <li><a target="_blank" href="http://news.sina.com.cn/o/2017-10-03/doc-ifymmiwm4285205.shtml">新浪新闻</a></li>
                <li><a target="_blank" href="http://news.ifeng.com/a/20171003/52289285_0.shtml">凤凰网</a></li>
                <li><a target="_blank" href="http://insurance.hexun.com/2017-10-03/191109552.html">和讯网</a></li>
                <li><a target="_blank" href="http://www.nbd.com.cn/articles/2017-10-03/1152011.html">每日经济新闻网</a></li>
                <li><a target="_blank" href="http://economy.southcn.com/e/2017-10/03/content_177961432.htm">南方网</a></li>
                <li><a target="_blank" href="http://news.eastday.com/eastday/13news/auto/news/finance/20171003/u7ai7133278.html">东方网</a></li>
                <li><a target="_blank" href="http://news.cqnews.net/html/2017-10/03/content_43048065.htm">华龙网</a></li>
                <li><a target="_blank" href="http://stock.10jqka.com.cn/20171003/c600687844.shtml">同花顺财经网</a></li>
                <li><a target="_blank" href="http://www.howbuy.com/news/2017-10-03/5535633.html">财经新闻网</a></li>
                <li><a target="_blank" href="http://ex.cssn.cn/ddzg/ddzg_ldjs/ddzg_sh/201710/t20171003_3660059.shtml">中国社科网</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="swiper-slide"> <img src="__STATIC__/admin/skin/images/case-pic1.jpg" class="case-pic">
          <ul class="case-img-right">
            <li><img src="__STATIC__/admin/skin/images/pa.jpg"/></li>
            <strong>平安企业宣传新闻</strong>
            <p>记者从中国平安保险集团获悉，截至今年6月末，中国平安支持国家铁路建设资金已达200亿元，其中投资京沪高铁项目63亿元</p>
            <li>
              <ul class="newsnet">
                <li><a target="_blank" href="http://finance.qq.com/a/20171003/008329.htm">腾讯财经</a></li>
                <li><a target="_blank" href="http://news.xinhuanet.com/2017-10/03/c_1121759698.htm">新华网</a></li>
                <li><a target="_blank" href="http://news.sina.com.cn/o/2017-10-03/doc-ifymmiwm4285205.shtml">新浪新闻</a></li>
                <li><a target="_blank" href="http://news.ifeng.com/a/20171003/52289285_0.shtml">凤凰网</a></li>
                <li><a target="_blank" href="http://insurance.hexun.com/2017-10-03/191109552.html">和讯网</a></li>
                <li><a target="_blank" href="http://www.nbd.com.cn/articles/2017-10-03/1152011.html">每日经济新闻网</a></li>
                <li><a target="_blank" href="http://economy.southcn.com/e/2017-10/03/content_177961432.htm">南方网</a></li>
                <li><a target="_blank" href="http://news.eastday.com/eastday/13news/auto/news/finance/20171003/u7ai7133278.html">东方网</a></li>
                <li><a target="_blank" href="http://news.cqnews.net/html/2017-10/03/content_43048065.htm">华龙网</a></li>
                <li><a target="_blank" href="http://stock.10jqka.com.cn/20171003/c600687844.shtml">同花顺财经网</a></li>
                <li><a target="_blank" href="http://www.howbuy.com/news/2017-10-03/5535633.html">财经新闻网</a></li>
                <li><a target="_blank" href="http://ex.cssn.cn/ddzg/ddzg_ldjs/ddzg_sh/201710/t20171003_3660059.shtml">中国社科网</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>
<div class="max huoban">
  <div class="box">
    <div class="lmt"> <strong aos="fade-up" aos-delay="250">— 战略合作伙伴 —</strong> <span aos="fade-up" aos-delay="350">A STRATEGIC PARTNER</span> </div>
    <ul>
      <li><img src="__STATIC__/admin/skin/images/hb1.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb2.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb3.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb4.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb5.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb6.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb7.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb8.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb9.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb10.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb11.jpg"></li>
      <li><img src="__STATIC__/admin/skin/images/hb12.jpg"></li>
    </ul>
  </div>
</div>
<div class="max footer">
  <div class="box">
    <p></p>
    全网媒体直线发稿、24小时自助发稿平台、助您提升营销效率！
    </p>
    <p> 注册会员 尽享全网3万多家媒体资源！</p>
  </div>
  <div class="lianxi"> 咨询热线：18838966664（上午8:30~12:00  下午14:00~18:00）<br>
    软文之家是一个专业的新闻发稿平台，平台拥有60000多家新闻媒体一手资源<br>
    已为上万家企业提供软文推广，软文营销，软文发布，新闻发布，新闻营销等服务。 </div>
</div>
<script src="js/js.js"></script>
<script>
AOS.init({
	easing: 'ease-out-back',
	duration: 800,
	once:true
});
</script>
</body>
</html>