<{include file="public/home_header" /}>
<div class="max hezuo">
  <div class="box jiage">
    <div class="lmt" aos="fade-up" aos-delay="250"> <strong>— 媒体价格 —</strong>
      <p>THE MEDIA PRICE</p>
    </div>
    <div class="jiage_box">
      <div class="jiage_jiansuo">
        <div class="jiange_li"> <span class="leiming">平台：</span>
          <ul>
            <li class="active" data-value="">所有</li>
            <li data-value="今日头条">今日头条</li>
            <li data-value="百家号">百家号</li>
            <li data-value="东方头条">东方头条</li>
            <li data-value="搜狐网">搜狐网</li>
            <li data-value="新浪号">新浪号</li>
            <li data-value="网易号">网易号</li>
            <li data-value="一点资讯">一点资讯</li>
            <li data-value="UC头条">UC头条</li>
            <li data-value="腾讯号">腾讯号</li>
            <li data-value="凤凰号">凤凰号</li>
            <li data-value="知乎号">知乎号</li>
            <li data-value="豆瓣">豆瓣</li>
            <li data-value="北京时间">北京时间</li>
            <li data-value="简书">简书</li>
            <li data-value="东方财富号">东方财富号</li>
            <li data-value="中金在线号">中金在线号</li>
          </ul>
        </div>
        <div class="jiange_li"> <span class="leiming">平台：</span>
          <ul>
            <li class="active" data-value="">所有</li>
            <li data-value="今日头条">今日头条</li>
            <li data-value="百家号">百家号</li>
            <li data-value="东方头条">东方头条</li>
            <li data-value="搜狐网">搜狐网</li>
            <li data-value="新浪号">新浪号</li>
            <li data-value="网易号">网易号</li>
            <li data-value="一点资讯">一点资讯</li>
            <li data-value="UC头条">UC头条</li>
            <li data-value="腾讯号">腾讯号</li>
            <li data-value="凤凰号">凤凰号</li>
            <li data-value="知乎号">知乎号</li>
            <li data-value="豆瓣">豆瓣</li>
            <li data-value="北京时间">北京时间</li>
            <li data-value="简书">简书</li>
            <li data-value="东方财富号">东方财富号</li>
            <li data-value="中金在线号">中金在线号</li>
          </ul>
        </div>
        <div class="jiange_li"> <span class="leiming">平台：</span>
          <ul>
            <li class="active" data-value="">所有</li>
            <li data-value="今日头条">今日头条</li>
            <li data-value="百家号">百家号</li>
            <li data-value="东方头条">东方头条</li>
            <li data-value="搜狐网">搜狐网</li>
            <li data-value="新浪号">新浪号</li>
            <li data-value="网易号">网易号</li>
            <li data-value="一点资讯">一点资讯</li>
            <li data-value="UC头条">UC头条</li>
            <li data-value="腾讯号">腾讯号</li>
            <li data-value="凤凰号">凤凰号</li>
            <li data-value="知乎号">知乎号</li>
            <li data-value="豆瓣">豆瓣</li>
            <li data-value="北京时间">北京时间</li>
            <li data-value="简书">简书</li>
            <li data-value="东方财富号">东方财富号</li>
            <li data-value="中金在线号">中金在线号</li>
          </ul>
        </div>
        <div class="jiange_li paixu"> <span class="leiming">排序：</span>
          <ul>
            <li class="active" data-value="">默认</li>
            <a href="javascript:;" class="" onclick="SEARCH.sort('2')"> <span>移动权重</span> <em> <i class="arrow-top"></i> <i class="arrow-bottom"></i> </em> </a>
            <a href="javascript:;" class="" onclick="SEARCH.sort('2')"> <span>出稿率</span> <em> <i class="arrow-top"></i> <i class="arrow-bottom"></i> </em> </a>
            <a href="javascript:;" class="" onclick="SEARCH.sort('2')"> <span>电脑权重</span> <em> <i class="arrow-top"></i> <i class="arrow-bottom"></i> </em> </a>
            <a href="javascript:;" class="" onclick="SEARCH.sort('2')"> <span>移动权重</span> <em> <i class="arrow-top"></i> <i class="arrow-bottom"></i> </em> </a>
          </ul>
        </div>
      </div>
      <div class="jiage_sousuo">
        <div class="left">
          <ul>
            <li class="active">媒体查找</li>
            <li>今日推荐</li>
            <li>今日新增</li>
            <li class="scj">收藏夹</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </div>
        <div class="right">
          <button id="export_btn" class="excel_dc">导出Excel</button>
          <form class="am-form am-form-horizontal">
            <label class="am-form-label am-u-sm-4 am-padding-right-0" for="search_media">媒体名称：</label>
            <input class="text" id="search_media" type="text" placeholder="请输入媒体名称" autocomplete="off">
            <button type="button" id="search_btn" class="am-btn am-btn-sm am-btn-primary">搜索</button>
          </form>
        </div>
        <div class="clearit"></div>
      </div>
      <div class="ruanwen-list">
      <p class="zyhd">←左右滑动查看更多→</p>
      <div class="table_box">
<table class="layui-table">
  <colgroup>
    <col width="100">
    <col width="200">
    <col>
  </colgroup>
          <thead>
            <tr>
              <th>频道类型</th>
              <th>媒体名称</th>
              <th>普通会员价格</th>
              <th>代理商价格</th>
              <th>出稿率</th>
              <th>电脑权重<span class="tips tips_ico" data-tips="以爱站提供数据为标准，仅供参考"></span></th>
              <th>移动权重<span class="tips tips_ico" data-tips="移动以爱站提供数据为标准，仅供参考"></span></th>
              <th>新闻源<span class="tips tips_ico" data-tips="仅供参考"></span></th>
              <th>链接情况<span class="tips tips_ico" data-tips="仅供参考，不可带网址一般指不可带任何联系方式"></span></th>
              <th>备注</th>
              <th>收藏</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a><a href="#" class="tips" data-tips="入口仅供参考" style="color:red;">入口</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
         <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
             <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
             <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
             <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
             <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
            <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
            <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
            <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
            <tr>
              <td>汽车网站</td>
              <td class="td200"><a href="https://www.autohome.com.cn/news/201806/100178019.html" target="_blank">汽车之家</a></td>
              <td class="price_td">45.00</td>
              <td>v2可看</td>
              <td>93%</td>
              <td><img src="__STATIC__/admin/skin/images/baidu9.png"></td>
              <td><img src="__STATIC__/admin/skin/images/baidu8.png"></td>
              <td>百度新闻源</td>
              <td>不可带网址</td>
              <td class="td250">超出18字标题，编辑自行修改</td>
              <td data-id="16914"><span class="layui-icon  layui-icon-rate"></span></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div id="demo0"></div>
      </div>
    </div>
  </div>
<script>
layui.use('laypage', function(){
  var laypage = layui.laypage;
  laypage.render({
    elem: 'demo0' //注意，这里的 demo0 是 ID，不用加 # 号
    ,count: 50 //数据总数，从服务端得到
  });
});
</script>
</div>
<script>
AOS.init({
	easing: 'ease-out-back',
	duration: 800,
	once:true
});
</script>
</body>
</html>