<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	 <title><{$Config.WebSiteTitle|default=''}></title>
	<meta name="keywords" content="<{$Config.WebSiteKeyword|default=''}>"/>
	<meta name="description" content="<{$Config.WebSiteDescription|default=''}>"/>
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
	<link rel="stylesheet" href="__STATIC__/home/css/index.css">
	<link rel="stylesheet" href="__STATIC__/home/css/aos.css">
	<link rel="stylesheet" href="__STATIC__/home/css/swiper.min.css">
	<link rel="stylesheet" href="__STATIC__/home/css/wap.css" media="screen and (max-width:640px)">
</head>
<body>
	<{include file="public/header" /}>
	<section id="banner">
		<div class="banner-box">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background: url(__STATIC__/home/images/banner1.jpg) no-repeat center center;"></div>
					<div class="swiper-slide" style="background: url(__STATIC__/home/images/banner2.jpg) no-repeat center center;"></div>
					<div class="swiper-slide" style="background: url(__STATIC__/home/images/banner3.jpg) no-repeat center center;"></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="banner-con wrap clearfix">
				<div class="banner-text" aos="fade-right">
					<p class="c1">一站式软文自助发稿平台</p>
					<p class="c2">全网覆盖一站式发布&emsp;多年行业经验&emsp;整合最优质资源</p>
					<p class="c3">一个账号让您的推广内容引爆全网，上头条！</p>
				</div>
				<ul class="banner-num dataAnalysis_cont clearfix" aos="fade-left">
					<li class="clearfix" aos="fade-left" aos-delay="250">
						<figure class="fl"><img src="__STATIC__/home/images/index01.png" alt="共计新闻媒体"/></figure>
						<div class="info fr">
							<div class="number data timer"  id="count-number" data-to="4501">4501</div>
							<div class="title">共计新闻媒体</div>
						</div>
					</li>
					<li class="clearfix" aos="fade-left" aos-delay="450">
						<figure class="fl"><img src="__STATIC__/home/images/index02.png" alt="共计自媒体"/></figure>
						<div class="info fr">
							<div class="number data timer"  id="count-number" data-to="8011">8011</div>
							<div class="title">共计自媒体</div>
						</div>
					</li>
					<li class="clearfix" aos="fade-left" aos-delay="650">
						<figure class="fl"><img src="__STATIC__/home/images/index03.png" alt="昨日新闻媒体发稿量"/></figure>
						<div class="info fr">
							<div class="number data timer"  id="count-number" data-to="4501">4501</div>
							<div class="title">昨日新闻媒体发稿量</div>
						</div>
					</li>
					<li class="clearfix" aos="fade-left" aos-delay="850">
						<figure class="fl"><img src="__STATIC__/home/images/index04.png" alt="昨日自媒体发稿量"/></figure>
						<div class="info fr">
							<div class="number data timer"  id="count-number" data-to="7245">7245</div>
							<div class="title">昨日自媒体发稿量</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="we-can-what">
		<div class="we-can-what wrap clearfix">
			<div class="index-title" aos="fade-up">
				<h3>我们<b>能干什么？</b></h3>
				<p>一站式软文新闻稿自助发稿平台</p>
			</div>
			<div class="con">
				<ul class="clearfix">
					<li aos="fade-right" aos-delay="250">
						<a href="member.php/article/index.html">
							<figure class="img1"><img src="__STATIC__/home/images/index05.png" alt="新闻稿发布"></figure>
							<figure class="img2"><img src="__STATIC__/home/images/index05_h.png" alt="新闻稿发布"></figure>
							<div class="title">新闻稿发布</div>
							<div class="text">新闻稿发布，6000家权威网络媒体资源，门户、行业、垂直媒体全面覆盖，1分钟响应，全天候服务</div>
							<div class="post-now">立即发布</div>
						</a>
					</li>
					<li aos="fade-right" aos-delay="450">
						<a href="member.php/article/index.html">
							<figure class="img1"><img src="__STATIC__/home/images/index06.png" alt="自媒体发布"></figure>
							<figure class="img2"><img src="__STATIC__/home/images/index06_h.png" alt="自媒体发布"></figure>
							<div class="title">自媒体发布</div>
							<div class="text">3000多家媒体合作，让您的文章遍布互联网各个角落，多年品牌积累，免除您的后顾之忧，祝您提升品牌效益！</div>
							<div class="post-now">立即发布</div>
						</a>
					</li>
					<li aos="fade-left" aos-delay="450">
						<a href="member.php/article/index.html">
							<figure class="img1"><img src="__STATIC__/home/images/index07.png" alt="软文代写"></figure>
							<figure class="img2"><img src="__STATIC__/home/images/index07_h.png" alt="软文代写"></figure>
							<div class="title">软文代写</div>
							<div class="text">300名专业写手团队覆盖近百个行业，一对一写作，保证收录，为您节约沟通时间，写出更符合您要求的稿子。</div>
							<div class="post-now">立即发布</div>
						</a>
					</li>
					<li aos="fade-left" aos-delay="250">
						<a href="javascript:void(0);">
							<figure class="img1"><img src="__STATIC__/home/images/index08.png" alt="软文代写"></figure>
							<figure class="img2"><img src="__STATIC__/home/images/index08_h.png" alt="软文代写"></figure>
							<div class="title">敬请期待</div>
							<div class="text">更多功能正在逐步开放中，请持续关注媒体平台以获取最新功能</div>
							<div class="post-now">立即发布</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="we-advantage">
		<div class="we-advantage">
			<div class="index-title" aos="fade-up">
				<h3>我们的<b>优势</b></h3>
				<p>一站式软文新闻稿自助发稿平台</p>
			</div>
			<div class="con clearfix" aos="fade-up">
				<ul class="clearfix">
					<li class="c1 clearfix" aos="fade-up">
						<div class="info fl">
							<div class="title">方便快捷</div>
							<div class="text">一键发布，简洁易用的24小时自助发布平台</div>
						</div>
						<figure class="fr"><img src="__STATIC__/home/images/index10.png" alt=""></figure>
					</li>
					<li class="c2 clearfix" aos="fade-up">
						<figure class="fl"><img src="__STATIC__/home/images/index11.png" alt=""></figure>
						<div class="info fr">
							<div class="title">急速发稿</div>
							<div class="text">一键发布，简洁易用的24小时自助发布平台</div>
						</div>
					</li>
					<li class="c3 clearfix" aos="fade-up">
						<div class="info fl">
							<div class="title">全网覆盖</div>
							<div class="text">上万家媒体资源一键发布，且每日不断更新中</div>
						</div>
						<figure class="fr"><img src="__STATIC__/home/images/index12.png" alt=""></figure>
					</li>
					<li class="c4 clearfix" aos="fade-up">
						<figure class="fl"><img src="__STATIC__/home/images/index13.png" alt=""></figure>
						<div class="info fr">
							<div class="title">专业规范</div>
							<div class="text">专业为各大媒介、公关、传媒、互联网企业提供完美服务</div>
						</div>
					</li>
					<li class="c5 clearfix" aos="fade-up">
						<div class="info fl">
							<div class="title">高性价比</div>
							<div class="text">一手网络媒体资源，帮您节省50%以上推广成本</div>
						</div>
						<figure class="fr"><img src="__STATIC__/home/images/index14.png" alt=""></figure>
					</li>
					<li class="c6 clearfix" aos="fade-up">
						<figure class="fl"><img src="__STATIC__/home/images/index15.png" alt=""></figure>
						<div class="info fr">
							<div class="title">企业保障</div>
							<div class="text">正规流程、正规合同、正规发票、企业定制</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="publish-process">
		<div class="publish-process">
			<div class="index-title" aos="fade-up">
				<h3>稿件发布<b>流程</b></h3>
				<p>简洁易用一键发布24小时自助发布平台</p>
			</div>
			<div class="con wrap clearfix">
				<div class="border" aos="fade-right"></div>
				<ul class="info clearfix">
					<li aos="fade-left" aos-delay="250">
						<figure><p><img src="__STATIC__/home/images/index16.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">1</div>
						<div class="title">注册发稿平台</div>
					</li>
					<li aos="fade-left" aos-delay="450">
						<figure><p><img src="__STATIC__/home/images/index17.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">2</div>
						<div class="title">充值发稿费用</div>
					</li>
					<li aos="fade-left" aos-delay="650">
						<figure><p><img src="__STATIC__/home/images/index18.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">3</div>
						<div class="title">后台提交稿件</div>
					</li>
					<li aos="fade-left" aos-delay="850">
						<figure><p><img src="__STATIC__/home/images/index19.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">4</div>
						<div class="title">选择所需媒体</div>
					</li>
					<li aos="fade-left" aos-delay="1050">
						<figure><p><img src="__STATIC__/home/images/index20.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">5</div>
						<div class="title">确认媒体并下单</div>
					</li>
					<li aos="fade-left" aos-delay="1300">
						<figure><p><img src="__STATIC__/home/images/index21.png" alt=""></p></figure>
						<div class="sx"></div>
						<div class="numb">6</div>
						<div class="title">反馈发布链接</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--
	<section id="recruit">
		<div class="recruit">
			<div class="wrap clearfix">
				<div class="index-title" aos="fade-up">
					<h3>招募行业代理 共赢信息未来</h3>
					<p>顺势而为 赢在平台</p>
					<span><a href="index/join.html">加入我们</a></span>
				</div>
				<ul class="con clearfix">
					<li aos="fade-up">
						<figure><img src="__STATIC__/home/images/index22.png" alt=""></figure>
						<p>坚持不赚差价模式与代理商共赢软文市场</p>
					</li>
					<li aos="fade-up">
						<figure><img src="__STATIC__/home/images/index23.png" alt=""></figure>
						<p>传统媒体新闻源、自媒体微信、代写等多样选择</p>
					</li>
					<li aos="fade-up">
						<figure><img src="__STATIC__/home/images/index24.png" alt=""></figure>
						<p>平台定制开发、接口开放</p>
					</li>
					<li aos="fade-up">
						<figure><img src="__STATIC__/home/images/index25.png" alt=""></figure>
						<p>一手媒介编辑直接入住收稿</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	--->
	<section id="resource-media">
		<div class="resource-media wrap clearfix">
			<div class="index-title" aos="fade-up">
				<h3>海量资源<b>媒体</b></h3>
				<p>海量媒体资源，每日不断更新中</p>
			</div>
			<div class="resource-media-con" aos="fade-up">
				<div class="hd">
					<ul class="cate clearfix">
						<li>知名门户</li>
						<li>财经媒体</li>
						<li>科技媒体</li>
						<li>娱乐媒体</li>
						<li>其他媒体</li>
					</ul>
				</div>
				<div class="bd">
					<ul class="cast-list clearfix">
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_1.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_2.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_3.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_4.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_5.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_6.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_7.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_1_8.png" alt=""></a></li>
					</ul>
					<ul class="cast-list clearfix">
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_1.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_2.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_3.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_4.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_5.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_6.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_7.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_2_8.png" alt=""></a></li>
					</ul>
					<ul class="cast-list clearfix">
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_1.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_2.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_3.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_4.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_5.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_6.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_7.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_3_8.png" alt=""></a></li>
					</ul>
					<ul class="cast-list clearfix">
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_1.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_2.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_3.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_4.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_5.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_6.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_7.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_4_8.png" alt=""></a></li>
					</ul>
					<ul class="cast-list clearfix">
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_1.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_2.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_3.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_4.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_5.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_6.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_7.png" alt=""></a></li>
						<li><a href=""><img src="__STATIC__/home/images/index/media_5_8.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="index-news">
		<div class="index-news">
			<div class="wrap clearfix">
				<div class="index-title" aos="fade-up">
					<h3>媒体<b>学院</b></h3>
					<p>海量自媒体媒介资讯，尽在媒介学院</p>
				</div>
				<ul class="index-news-list clearfix">
				<{volist name="list" id="vo"}>
					<li class="clearfix" aos="fade-up">
						<a href="<{:url('newsview',['id'=>$vo.NewsID])}>">
							<figure class="fl"><{if condition="$vo.NewsPicPath != ''"}><img src="/uploads/<{$vo.NewsPicPath}>" alt=""><{else}><img src="__STATIC__/home/images/index26.jpg" alt=""><{/if}></figure>
							<article class="info fl">
								<div class="title"><{$vo.NewsTitle}></div>
								<div class="text"><{$vo.NewsAbstract}>...</div>
							</article>
							<div class="time fr">		
							<span class="more"></span>
							</div>
						</a>
					</li>
					<{/volist}>
					
				</ul>
				<div class="index-news-more">
				<a href="<{:url('index/newslist')}>" >&gt;&gt;更多新闻</a>
				</div>
			</div>
			
		</div>
	</section>
	<{include file="public/footer" /}>
	<script>
		AOS.init({
			easing: 'ease-out-back',
			duration: 1000,
			once:true
		});
	</script>
</body>
</html>