<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>软文撰写-<{$Config.WebSiteTitle|default=''}></title>
    <meta name="keywords" content="媒介联盟软文,软文营销，新闻营销，自媒体营销，整合营销，软文代写，在线发稿平台">
    <meta name="description" content="媒介联盟软文,专业从事新闻营销、自媒体营销、软文营销、微信营销和微博营销，并提供软文代写服务,致力成为国内领先的在线发稿平台和互联网整合服务解决商">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="__STATIC__/home/css/ruanwendaixie.css">
	<link rel="stylesheet" href="__STATIC__/home/css/index.css">
</head>
<body>
<{include file="public/header"}>
<div class="container-fluid zhuanxie-banner">
    <div class="z-b">
        <div class="xie-item">
            <h1>高质量原创软文</h1>
        </div>
        <div class="xie-p">
            <p>专业的写作团队，保证满意，最快1小时交稿！</p>
        </div>
        <div class="box">
            <a target="_blank" href="https://tb.53kf.com/code/client/b1ae87dbfcbc6cbb0bfd87b9a329c8bb0/2" target="_blank">
                <button class="button button--winona" data-text="立即咨询">
                    <span>立即咨询</span>
                </button>
            </a>
        </div>
        <div class="head-but">
            <ul>
                <li>
                <span>
                    <i class="fa fa-map-marker"></i>
                </span>
                    <p>定位精准</p>
                </li>
                <li>
                <span>
                    <i class="fa fa-send"></i>
                </span>
                    <p>快速交稿</p>
                </li>
                <li>
                <span>
                    <i class="fa fa-thumbs-up"></i>
                </span>
                    <p>修改到满意为止</p>
                </li>
                <li>
                <span>
                    <i class="fa fa-user"></i>
                </span>
                    <p>专业编辑撰写</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="dai-tit serve-tit">
        <p>软文代写服务简介:</p>
    </div>
    <div class="serve-con">
        <p>媒介联盟软文可为用户提供原创软文代写服务，用户只需提供软文代写的相关要求或者参考范文即可，1-3天出稿，不满意可免费修改3次。为企业量身制作出具有创意性的软文撰写解决方案，用最真实的笔触、具有吸引力与煽动性的内容，把传播做到用户心里，并改变受众的观点和行为，让软文新闻提升你的品牌影响力!</p>
    </div>
</div>

<div class="container">
    <div class="safe-img">
        <img src="__STATIC__/home/images/safe.png">
    </div>
    <div class="safe-content">
        <div class="">
            <p>代写安全保障</p>
        </div>
        <ul>
            <li><span style="background: #fd5252;"></span>工信部正规备案，可提供正规增值税发票</li>
            <li><span style="background: #2ec8e2;"></span>按字数收费，不存在乱收费现象</li>
            <li><span style="background: #f6cd64;"></span>自身完善的代写提交后台，信息安全不泄露</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="safe-content fei-item">
        <div class="">
            <p>代写项目分类</p>
        </div>
        <ul>
            <li><span style="background: #fd5252;"></span>代写企业品牌、新闻资讯类新闻稿</li>
            <li><span style="background: #2ec8e2;"></span>代写医疗、房产、汽车等各行业原创软文</li>
            <li><span style="background: #f6cd64;"></span>代写微信/微博/博客等自媒体宣传软文</li>
        </ul>
    </div>
    <div class="safe-img fei-item">
        <img src="__STATIC__/home/images/fei.png">
    </div>
</div>

<div class="container">
    <div class="safe-img">
        <img src="__STATIC__/home/images/power.png">
    </div>
    <div class="safe-content">
        <div class="">
            <p>代写实力展现</p>
        </div>
        <ul>
            <li><span style="background: #fd5252;"></span>平台写手均为研究生以上学历，文采斐然</li>
            <li><span style="background: #2ec8e2;"></span>近百名写手，可为用户提供固定软文代写服务</li>
            <li><span style="background: #f6cd64;"></span>代写提交简单方便，出稿速度快</li>
        </ul>
    </div>
</div>

<div class="container mar-top">
    <div class="dai-tit">
        <p>软文代写价格</p>
    </div>
    <div class="dai-price">
        <table>
            <thead>
            <tr>
                <th>字数</th>
                <th>价格</th>
                <th>时间</th>
                <th>修改次数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>500字</td>
                <td>100元起</td>
                <td>1天</td>
                <td>包满意</td>
            </tr>
            <tr>
                <td>800字</td>
                <td>150元起</td>
                <td>1-2天</td>
                <td>包满意</td>
            </tr>
            <tr>
                <td>1000字</td>
                <td>200元起</td>
                <td>1-3天</td>
                <td>包满意</td>
            </tr>
            <tr>
                <td>1500字</td>
                <td>250元起</td>
                <td>1-4天</td>
                <td>包满意</td>
            </tr>
            <tr>
                <td>2000字</td>
                <td>300元起</td>
                <td>1-4天</td>
                <td>包满意</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container mar-top">
    <div class="dai-tit">
        <p>软文代写说明</p>
    </div>
    <div class="sm">
        <p><span class="dot-red"></span>软文代写服务为虚拟交易产品，且为文案人员知识产权所有。故软文代写需要用户提前支付相关费用且不接受试稿。</p>
        <p><span class="dot-red"></span>因稿件为虚拟物品，出稿后如不满意，平台可提供三次免费修改服务。不支持任何理由退款。</p>
        <p><span class="dot-red"></span>为保证软文代写质量，请在代写前与平台详细沟通您的代写需求，并将代写需求提交至平台。</p>
        <p><span class="dot-red"></span>此外企业网站需要企业介绍、产品介绍 、企业策划案的文章请跟客服沟通根据文章的难易程度定价。</p>
        <p>
        <hr>
        </p>
        <p class="sm-tit">修改服务：</p>
        <p><span class="dot-red"></span>可修改3次（不包括小细节）</p>
        <p><span class="dot-red"></span>出稿后不接受大方向上的修改与重写</p>
        <p>
        <hr>
        </p>
        <p class="sm-tit">提交格式：</p>
        <p><span class="dot-red"></span>推广主题：××新款手机</p>
        <p><span class="dot-red"></span>软文体裁：新闻型/采访型/故事型/数据型</p>
        <p><span class="dot-red"></span>软文标题：包含关键词“××手机”</p>
        <p><span class="dot-red"></span>宣传要点：××手机作为本年度手机销量排行榜冠军，目前是商务人群最受欢迎的品牌之一；</p>
        <p><span class="dot-red"></span>相关素材：（如果有相关的软文素材，可将链接或文档发送给平台，这将对我们的写作方向有很大的参考作用）</p>
        <p><span class="dot-red"></span>其它要求：选填</p>
    </div>
</div>

<div class="down-banner">
    <div class="d-banner d-banner-2">
        <div class="black"></div>
    </div>
    <div class="container">
        <div class="banner-txt">
            <h2>注册媒介联盟软文自助发稿平台，即可享受超低价格媒体发布服务！</h2>
        </div>
        <div class="login-now">
            <a target="_blank" href="https://tb.53kf.com/code/client/b1ae87dbfcbc6cbb0bfd87b9a329c8bb0/2" target="_blank">咨询发稿</a>
        </div>
    </div>
</div>
<{include file="public/footer" /}>
</body>
</html>