<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>自媒体-郑州飞猫文化传播有限公司</title>
	<meta name="keywords" content="自媒体-郑州飞猫文化传播有限公司">
	<meta name="description" content="自媒体-郑州飞猫文化传播有限公司">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/wap.css" media="screen and (max-width:640px)">
</head>
<body>
	<header>
		<div class="top">
			<div class="wrap clearfix">
				<h1 class="fl"><a href=""><img src="images/logo.png" alt="郑州飞猫文化传播有限公司"></a></h1>
				<h1 class="m-logo fl"><a href=""><img src="images/m-logo.png" alt="郑州飞猫文化传播有限公司"></a></h1>
				<span class="m-nav_menu fr"><img src="images/nav_menu.png" alt="导航"></span>
				<div class="m-menubg clearfix fr">
					<div class="m-menu">
						<nav class="fl">
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">媒体资源</a></li>
								<li><a href="">自媒体</a></li>
								<li><a href="">合作加盟</a></li>
								<li><a href="">联系我们</a></li>
							</ul>
						</nav>
						<div class="login-reg fr">
							<a href="" class="login">登录</a>
							<a href="" class="reg">注册</a>
						</div>
					</div>
					<div class="m-close"></div>
				</div>
			</div>
		</div>
	</header>
	<section id="inside-banner">
		<div class="inside-banner" style="background: url(images/meiti_banner.jpg) no-repeat center top #f6fbff;">
			<div class="inside-meiti clearfix">
				<div class="meiti-search">
					<input type="text" name="keywords" id="keywords" class="inptext" placeholder="请输入媒体名称">
					<input type="button" class="ipt_button fr" id="button">
				</div>
				<div class="meiti-search-condition">
					<div class="condition clearfix">
						<span class="leiming fl">平台：</span>
						<ul class="clearfix">
							<li class="active"><a href="">不限</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
							<li><a href="">女性时尚</a></li>
							<li><a href="">IT科技</a></li>
							<li><a href="">生活消费</a></li>
						</ul>
					</div>
					<div class="condition clearfix">
						<span class="leiming fl">行业分类：</span>
						<ul class="clearfix">
							<li class="active"><a href="">所有</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">文化</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">历史</a></li>
							<li><a href="">历史</a></li>
						</ul>
					</div>
					<div class="condition clearfix">
						<span class="leiming fl">地区：</span>
						<ul class="clearfix">
							<li class="active"><a href="">所有</a></li>
							<li><a href="">综合全国</a></li>
							<li><a href="">北京</a></li>
							<li><a href="">上海</a></li>
							<li><a href="">广州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
							<li><a href="">郑州</a></li>
						</ul>
					</div>
					<div class="condition clearfix">
						<span class="leiming fl">粉丝数：</span>
						<ul class="clearfix">
							<li class="active"><a href="">所有</a></li>
							<li><a href="">0-1000</a></li>
							<li><a href="">1001-5000</a></li>
							<li><a href="">5001-1万</a></li>
							<li><a href="">1万-5万</a></li>
							<li><a href="">5万-10万</a></li>
							<li><a href="">10万-100万</a></li>
							<li><a href="">100万以上</a></li>
						</ul>
					</div>
					<div class="condition clearfix">
						<span class="leiming fl">阅读数：</span>
						<ul class="clearfix">
							<li class="active"><a href="">所有</a></li>
							<li><a href="">0-1000</a></li>
							<li><a href="">1001-5000</a></li>
							<li><a href="">5001-1万</a></li>
							<li><a href="">1万-5万</a></li>
							<li><a href="">5万-10万</a></li>
							<li><a href="">10万以上</a></li>
						</ul>
					</div>
					<div class="condition clearfix">
						<span class="leiming fl">其它筛选：</span>
						<div class="selectBox zimeiti-selectBox clearfix">
							<div class="unit" data-type="jgfl" id="jgfl">
                            	<i>价格筛选</i>
	                            <ul>
	                                <li class="filter-option active" data-value="">不限</li>
	                                <li class="filter-option" data-value="50">0~50</li>
	                                <li class="filter-option" data-value="100">51~100</li>
	                                <li class="filter-option" data-value="200">101~200</li>
	                                <li class="filter-option" data-value="201">200以上</li>
	                            </ul>
                        	</div>
                        	<div class="unit" data-type="rkjb" id="rkjb">
	                            <i>账号认证</i>
	                            <ul>
	                                <li class="filter-option active" data-value="">所有</li>
	                                <li class="filter-option" data-value="0">已认证</li>
	                                <li class="filter-option" data-value="1">未认证</li>
	                            </ul>
	                        </div>
	                        <div class="unit" data-type="xwy" id="xwy">
	                            <i>一手认证</i>
	                            <ul>
	                                <li class="filter-option active" data-value="">所有</li>
	                                <li class="filter-option" data-value="0">已认证</li>
	                                <li class="filter-option" data-value="1">未认证</li>
	                            </ul>
	                        </div>
						</div>
					</div>
				</div>
			</div>
			<div class="tableSection wrap clearfix">
				<div class="tabBtn" id="status_change">
	                <a href="javascript:void(0);" class="active" data-id="result">媒体查找</a>
	                <a href="javascript:void(0);" data-id="rec" class="">今日推荐</a>
	                <a href="javascript:void(0);" data-id="today" class="">今日新增</a>
	            </div>
	            <div class="table-list">
	            	<p class="m-zyhd">←左右滑动查看更多→</p>
	            	<div class="table_box zimeiti-table_box">
	            		<table>
				            <thead>
				            	<tr>
				            		<th class="th1">名称</th>
				            		<th class="th2">平台</th>
				            		<th class="th3">一手认证</th>
				            		<th class="th4">行业分类</th>
				            		<th class="th5">价格</th>
				            		<th class="th6">代理商价格</th>
				            		<th class="th7">地区</th>
				            		<th class="th8">参考粉丝数</th>
				            		<th class="th9">参考阅读数</th>
				            		<th class="th10">备注</th>
				            	</tr>
				            </thead>
				            <tbody>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            	<tr>
				            		<td class="td1">
				            			<a href="">科技全知道</a>
				            			<a href="" class="tips">(入口)</a>
				            		</td>
				            		<td class="td2">今日头条</td>
				            		<td class="td3"><img src="images/renz.png"></td>
				            		<td class="td4">科技</td>
				            		<td class="td5"><a href="">查看报价</a></td>
				            		<td class="td6">v2可看</td>
				            		<td class="td7">综合全国</td>
				            		<td class="td8">10万-100万</td>
				            		<td class="td9">10万以上</td>
				            		<td class="td10">凤凰网主站，凤凰......</td>
				            	</tr>
				            </tbody>
	            		</table>
	            	</div>
	            </div>
	            <div class="page clearfix">
	            	<span class="fl clearfix">
		            	<a href="">上一页</a>
		            	<a href="">1</a>
		            	<a href="">2</a>
		            	<a href="">3</a>
		            	<a href="">4</a>
		            	<a href="">5</a>
		            	<a href="">....</a>
		            	<a href="">下一页</a>
	            	</span>
	            	<div class="dataTables_jump fl">第<input id="changePage" class="changePage" type="text">页<botton class="am-btn" id="dataTable-btn">确认</botton></div>
	            </div>
			</div>
			<div class="mtzy_bottom"></div>
		</div>
	</section>
	<footer>
		<div class="friendlinks">
		    <div class="wrap clearfix">
		        <p class="friendlinks-title fl">友情链接：</p>
		        <ul class="fr">
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		            <li><a href="">法学汇信律师事务所</a></li>
		        </ul>
		    </div>
		</div>
		<div class="falv-know">
			<div class="wrap clearfix falv-know-content">
		        <div class="falv-know-form fl clearfix">
		            <div class="foot-message-title fl"></div>
		            <form class="footerForm fl" name="footerForm">
		                <p class="m-p"><input type="text" name="name" placeholder="姓名" class="inptext"></p>
		                <p class="m-p"><input type="text" name="phone" placeholder="电话" class="inptext"></p>
		                <p><textarea name="content" class="textarea" placeholder="您的留言内容"></textarea></p>
		                <p class="btn">
		                    <input type="reset" value="重新填写" class="inpreset">
		                    <input type="submit" value="提交信息" class="inpsub">
		                </p>
		            </form>
		        </div>
				<div class="falv-know-attion fr">
		            <div class="qq-tel fl">
		                <div class="falv-know-attion-list">
		                    <p><i class="iconfont">&#xe60a;</i>&nbsp;官方QQ<!-- 群 --></p>
		                    <p>99431499</p>
		                </div>
		                <div class="falv-know-attion-list border-top">
		                    <p><i class="iconfont">&#xe606;</i>&nbsp;客户咨询电话</p>
		                    <p>15510665333</p>
		                </div>
		            </div>
					<div class="falv-know-attion-default">
						<img src="images/attion-default.png" alt="法律网二维码" />
						<div class="falv-know-attion-default-div">
							<h3>关注微信公众平台</h3>
							<p>让人民群众在每一个司法<br />案件中都感受到公平正义</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<ul class="footer-nav">
				<li><a href="">网站首页</a></li>
				<li><a href="">媒体资源</a></li>
				<li><a href="">自媒体</a></li>
				<li><a href="">合作加盟</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
			<p>郑州飞猫文化传播有限公司</p>
			<p>公司地址：郑州市管城区紫荆山路商城路金成国贸</p>
			<p>合作加盟：18838966664&emsp;公司邮箱：1351344128@qq.com&emsp;       客服QQ：2445155459 1174972610</p>
		</div>
	</footer>
	<script src="js/jquery-1.10.2.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/jquery.SuperSlide.2.1.js"></script>
	<script src="js/public.js"></script>
	<script>
		//其他筛选下拉选
        $(".unit i").on("click",function(e){
            e.stopPropagation();
            $(this).next("ul").show();
            $(this).parent(".unit").siblings().children("ul").hide();
        });
        $(".unit li").on("click",function(e){
            e.stopPropagation();
            var text=$(this).text();
            $(this).addClass("active").siblings("li").removeClass("active");
            $(this).parents("ul").prev("i").text(text);
            $(this).parents("ul").hide();
            resultTable.ajax.reload();
        });
        $("body").on("click",function(){
            $(".unit ul").each(function(i,n){
                $(n).hide();
            });
        });
	</script>

</body>
</html>