<{include file="public/admin_header" /}>
<style type="text/css">
    .menu-content{border: 1px solid #e6e6e6; width: 595px;}
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top:0;">
    <legend><{$MenuName}></legend>
</fieldset>
<form class="layui-form layui-form-pane" action="<{:url('clearing')}>" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 130px;">上传文件大小</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="text" name="FileSize" value="<{$SystemParam.FileSize|default=''}>" size="30" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">单位：M</div>
    </div>
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label" style="width: 130px;">上传文件格式</label>-->
        <!--<div class="layui-input-inline inputTextWidth">-->
            <!--<input type="text" name="FileExtension" value="<{$SystemParam.FileExtension|default=''}>" size="30" class="layui-input"/>-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux">只支持：doc,docx,txt；多种格式请用半角逗号分隔</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 130px;height: 310px; line-height: 310px; padding: 0;">支付宝支付参数</label>
        <div class="layui-input-inline menu-content" style="width: 498px;height:308px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="120" align="right">
                        APPID：
                    </td>
                    <td>
                        <input type="text" name="AliPayAPPID" value="<{$SystemParam.AliPayAPPID|default=''}>" class="layui-input" style="width: 350px; margin: 5px 0;"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        支付宝公钥：
                    </td>
                    <td>
                        <textarea name="AliPayPublicKey" class="layui-input" style="width: 350px; height: 120px; margin: 5px 0;"><{$SystemParam.AliPayPublicKey|default=''}></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        商户私钥：
                    </td>
                    <td>
                        <textarea name="AliPayPrivateKey" class="layui-input" style="width: 350px; height: 120px; margin: 5px 0;"><{$SystemParam.AliPayPrivateKey|default=''}></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 130px;height: 170px; line-height: 170px; padding: 0;">银行卡账户</label>
        <div class="layui-input-inline menu-content" style="width: 498px;height:168px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="120" align="right">
                        开户银行：
                    </td>
                    <td>
                        <input type="text" name="BankName" value="<{$SystemParam.BankName|default=''}>" class="layui-input" style="width: 350px; margin: 5px 0;"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        开户网点：
                    </td>
                    <td>
                        <input type="text" name="OpeningBank" value="<{$SystemParam.OpeningBank|default=''}>" class="layui-input" style="width: 350px; margin: 5px 0;"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        银行卡号：
                    </td>
                    <td>
                        <input type="text" name="CardNo" value="<{$SystemParam.CardNo|default=''}>" class="layui-input" style="width: 350px; margin: 5px 0;"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        持卡人：
                    </td>
                    <td>
                        <input type="text" name="Cardholder" value="<{$SystemParam.Cardholder|default=''}>" class="layui-input" style="width: 350px; margin: 5px 0;"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn" style="margin-left:120px;" type="submit">提交保存</button>
    </div>
</form>
<{include file="public/admin_footer" /}>