<{include file="public/admin_header" /}>
<style>
    select{border: 1px solid #DBDBDB;height: 28px;width:25%;}
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top:0;">
    <legend><{$MenuName}>添加</legend>
</fieldset>
<form class="layui-form-pane" action="<{:url('add')}>"  enctype="multipart/form-data" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label"><{$MenuName}>名称</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="text" name="NewsTitle" size="40" class="layui-input"/>
        </div>
    </div>
<!--    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="text" name="NewsEngTitle" size="40" class="layui-input"/>
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label" style="height: 120px;padding-top:50px;"><{$MenuName}>摘要</label>
        <div class="layui-input-inline inputTextWidth">
            <textarea name="NewsAbstract" style="height: 120px;" class="layui-input"></textarea>
        </div>
    </div>
    <!--<div class="layui-form-item" >-->
        <!--<label class="layui-form-label"><{$MenuName}>图片</label>-->
        <!--<div class="layui-input-inline inputTextWidth">-->
            <!--<input type="file" name="NewsPicPath" class="layui-input" />-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux">尺寸：650*470像素</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label" style="height: 403px;padding-top:150px;"><{$MenuName}>详情</label>
        <div class="layui-input-inline inputTextWidth" style="width: 80%;">
            <textarea id="EditContent" name="NewsContent" style="width: 100%; height: 400px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">是否禁用</label>
        <div class="layui-form layui-input-inline inputTextWidth radiofile">
            <input type="radio" name="NewsState" value="1" title="已启用" checked>
            <input type="radio" name="NewsState" value="0" title="已禁用">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <!--<div class="layui-form-item" >-->
        <!--<label class="layui-form-label">是否推荐</label>-->
        <!--<div class="layui-form layui-input-inline inputTextWidth radiofile">-->
            <!--<input type="radio" name="NewsRecommendState" value="1" title="已推荐">-->
            <!--<input type="radio" name="NewsRecommendState" value="0" title="未推荐" checked>-->
        <!--</div>-->
        <!--<div class="layui-form-mid layui-word-aux"></div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <input type="hidden" id="NewsTypeID" name="NewsTypeID">
        <input type="hidden" id="NewsTypePath" name="NewsTypePath">
        <button class="layui-btn"  type="submit">提交保存</button>
    </div>
</form>
<{include file="public/admin_footer" /}>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery,upload = layui.upload;
    });
</script>