	<footer>
		<div class="wrap clearfix">
	        <div class="footer-tel clearfix">
	            <p><{$Config.WebSiteCopyright}></p>
				<!--
				咨询热线：<span>1551555565</span>（上午8:30~12:00  下午14:00~18:00） <a href="http://beian.miit.gov.cn" target="_blank" style="display: inline-block;">豫ICP备555555号</a>--->

	        </div>
	        <div class="section-divider">
	            <img src="__STATIC__/agency/home/images/social-media.png" alt="">
	        </div>
	        <p class="wb-wx">
	            全网媒体直线发稿、24小时自助发稿平台、助您提升营销效率！<br/>注册会员 尽享全网3万多家媒体资源！
	        </p>
	    </div>
	</footer>
	<div class="footer-container">
	    <div class="back-to-top">
	        <a href="javascript:void(0)">
	            <img src="__STATIC__/agency/home/images/back-to-top.png" alt="Go Back To Top">
	        </a>
	    </div>
	</div>
	<script src="__STATIC__/agency/home/js/jquery-1.10.2.js"></script>
	<script src="__STATIC__/agency/home/js/swiper.min.js"></script>
	<script src="__STATIC__/agency/home/js/aos.js"></script>