<{include file="public/admin_header" /}>
<style type="text/css">
    .layui-form-item{margin-bottom:0;}
    .layui-elem-quote{padding: 3px 15px;}
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top:0;">
    <legend><{$MenuName}>列表</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <div class="layui-form layui-form-pane">
        <form action="<{:url('index')}>" method="get">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px;">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" placeholder="会员名称/抬头" value="<{$UrlParam.keyword|default=''}>" class="layui-input" />
                </div>
                <label class="layui-form-label" style="width: 80px;">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="InvoiceName" placeholder="收货人姓名" value="<{$UrlParam.InvoiceName|default=''}>" class="layui-input" />
                </div>
                <label class="layui-form-label" style="width: 80px;">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="InvoiceMobile" placeholder="收货人手机" value="<{$UrlParam.InvoiceMobile|default=''}>" class="layui-input" />
                </div>
                <button class="layui-btn search" type="submit">搜索</button>
            </div>
        </form>
    </div>
</blockquote>
<form class="layui-form" id="MyForm" method="post">
    <div class="page-module-table">
        <table class="layui-table">
            <thead>
            <tr>
                <th width="40" class="listtitle">
                    <input lay-skin="primary" lay-filter="AllSelectBox" type='checkbox'>
                </th>
                <th width="80" class="listtitle">会员名称</th>
                <th width="80" class="listtitle">类型</th>
                <th width="80" class="listtitle">明细</th>
                <th width="80" class="listtitle">金额</th>
                <th class="listtitle">抬头</th>
                <th class="listtitle">地址</th>
                <th width="150" class="listtitle">时间</th>
                <th width="80" class="listtitle">状态</th>
                <th width="80" class="listtitle">操作</th>
            </tr>
            </thead>
            <tbody>
            <{volist name="List" id="val"}>
            <tr>
                <td align="center">
                    <input type="checkbox" name="Del[]" lay-skin="primary" lay-filter="ItemBox" value="<{$val.InvoiceID}>" />
                </td>
                <td align="center"><{$val.MemberName}></td>
                <td align="center"><{$val.InvoiceType.New}></td>
                <td align="center"><{$val.InvoiceDetail.New}></td>
                <td align="center"><{$val.InvoiceMoney}></td>
                <td align="center"><{$val.InvoiceTitle}></td>
                <td align="center"><{$val.InvoiceAddress}></td>
                <td align="center"><{$val.InvoiceTime}></td>
                <td align="center">
                    <{if condition="$val.InvoiceState eq '2'"}>
                    已寄出
                    <{elseif condition="$val.InvoiceState eq '1'"}>
                    申请失败
                    <{else}>
                    申请中
                    <{/if}>
                </td>
                <td align="center">
                    <div class="layui-btn-group">
                        <a class="layui-btn layui-btn-mini" href="<{:url('edit',array('id'=>$val['InvoiceID']))}>"><i class="layui-icon"></i>编辑</a>
                    </div>
                </td>
            </tr>
            <{/volist}>
            </tbody>
        </table>
    </div>
    <div class="layui-form layui-form-pane" style="margin-top: 10px;">
        <div class="layui-form-item" style="float: left;">
            <div class="layui-input-inline">
                <select id="OperationType">
                    <option value="0">请选择...</option>
                    <option value="Del" url="<{:url('del')}>">批量删除</option>
                </select>
            </div>
            <button class="layui-btn search" type="button" onclick="ExecuteCheck();">执行</button>
        </div>
        <div class="layui-box layui-laypage layui-laypage-default" style="float:right; margin: 0;">
        </div>
        <div class="clear"></div>
    </div>
</form>
<{include file="public/admin_footer"}>