<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>合作加盟-<{$Config.WebSiteCompanyName}></title>
	<meta name="keywords" content="<{$Config.WebSiteKeyword|default=''}>"/>
	<meta name="description" content="<{$Config.WebSiteDescription|default=''}>"/>
	<link rel="stylesheet" href="__STATIC__/agency/home/css/style.css">
	<link rel="stylesheet" href="__STATIC__/agency/home/css/index.css">
	<link rel="stylesheet" href="__STATIC__/agency/home/css/aos.css">
	<link rel="stylesheet" href="__STATIC__/agency/home/css/swiper.min.css">
	<link rel="stylesheet" href="__STATIC__/agency/home/css/wap.css" media="screen and (max-width:640px)">
</head>
<body>
 <{include file="public/header" /}>
	<section id="join-banner">
		<div class="join-banner" style="background: url(__STATIC__/home/images/join-banner.jpg) no-repeat center top;">
			<div class="wrap clearfix">
				<figure aos="fade-right" aos-delay="250"><img src="__STATIC__/home/images/join_banner_t.png" alt=""></figure>
				<div class="join-banner-text" aos="fade-left" aos-delay="850">独立媒介平台定制·全平台一手媒介价格资源</div>
			</div>
		</div>
	</section>
	<section id="join-agent">
		<div class="join-agent wrap clearfix">
			<div class="join-title">
				<h3>媒体合作优势</h3>
				<p class="en">Media Agent Advantage</p>
			</div>
			<div class="agent-con clearfix">
				<a aos="fade-up" aos-delay="250">
					<figure class="img1"><img src="__STATIC__/home/images/join1.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join1_h.png" alt=""></figure>
					<div class="title">渠道全 价格低</div>
					<div class="text">即可拥有最全的软文渠道,<br/>最低的软文发布价格</div>
				</a>
				<a aos="fade-up" aos-delay="450">
					<figure class="img1"><img src="__STATIC__/home/images/join2.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join2_h.png" alt=""></figure>
					<div class="title">高利润 丰厚回报</div>
					<div class="text">高达30%~200%的惊人利润,<br/>代理丰厚收益回报</div>
				</a>
				<a aos="fade-up" aos-delay="650">
					<figure class="img1"><img src="__STATIC__/home/images/join3.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join3_h.png" alt=""></figure>
					<div class="title">独立域名 个性平台</div>
					<div class="text">拥有独立的域名与网页,<br/>自主控制个性化平台</div>
				</a>
				<a aos="fade-up" aos-delay="850">
					<figure class="img1"><img src="__STATIC__/home/images/join4.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join4_h.png" alt=""></figure>
					<div class="title">安全保障 无手续费</div>
					<div class="text">结算收益安全有保障,<br/>无手续费提现</div>
				</a>
				<a aos="fade-up" aos-delay="1050">
					<figure class="img1"><img src="__STATIC__/home/images/join5.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join5_h.png" alt=""></figure>
					<div class="title">专业培训 相关资料</div>
					<div class="text">免费提供专业知识培训,<br/>独家免费相关资料提供</div>
				</a>
				<a aos="fade-up" aos-delay="1650">
					<figure class="img1"><img src="__STATIC__/home/images/join8.png" alt=""></figure>
					<figure class="img2"><img src="__STATIC__/home/images/join8_h.png" alt=""></figure>
					<div class="title">地位共享 共享讨论</div>
					<div class="text">行业领导地位共享,<br/>丰富经验共享讨论</div>
				</a>
			</div>
		</div>
	</section>
	
	<section id="join-procedure">
		<div class="join-procedure">
			<div class="wrap clearfix">
				<div class="join-title">
					<h3>合作流程</h3>
					<p class="en">Agent program</p>
				</div>
				<div class="con clearfix">
					<figure class="img fl" aos="fade-right"><img src="__STATIC__/home/images/join10.png" alt=""></figure>
					<ul class="fr" aos="fade-left" aos-delay="650">
						<li class="c1">
							<figure class="img2"><img src="__STATIC__/home/images/index22.png" alt=""></figure>
							<p>提交申请</p>
						</li>
						<li class="c2">
							<figure class="img3"><img src="__STATIC__/home/images/join11.png" alt=""></figure>
						</li>
						<li class="c1">
							<figure class="img2"><img src="__STATIC__/home/images/index23.png" alt=""></figure>
							<p>合作洽谈</p>
						</li>
						<li class="c1">
							<figure class="img2"><img src="__STATIC__/home/images/index23.png" alt=""></figure>
							<p>签署合同</p>
						</li>
						<li class="c2">
							<figure class="img3"><img src="__STATIC__/home/images/join11.png" alt=""></figure>
						</li>
						<li class="c1">
							<figure class="img2"><img src="__STATIC__/home/images/index24.png" alt=""></figure>
							<p>获得服务</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	 <{include file="public/footer" /}>
	<script>
		AOS.init({
			easing: 'ease-out-back',
			duration: 1000,
			once:true
		});

		jQuery(".system-introduction-con").slide({trigger:"click"});
	</script>

</body>
</html>