<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	 <title>郑州法旅网络科技有限公司</title>
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
	<link rel="stylesheet" href="__STATIC__/home/css/index.css">
</head>
<body>
	<section id="banner">
		<div class="banner-box">
		<img src="__STATIC__/home/images/banner1.jpg" style="width:100%;">
		<p style="font-size:20px;text-align: center;">郑州法旅网络科技有限公司 <a href="https://beian.miit.gov.cn/">豫ICP备19033686号-1</a></p>
		</div>
			
		</div>
	</section>
</body>
</html>