.container-fluid.zhuanxie-banner {
    /* height: 800px; */
    overflow: hidden;
    background: url(../images/zhuanxie-banner2.jpg) no-repeat;
    position: relative;
}
.zhuanxie-banner .z-b {
    width: 60%;
    margin: 0 auto;
}
.xie-item{
	padding-top: 15%;
}
.xie-item h1 {
    font-size: 4.5em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    -webkit-text-shadow: 0 3px 5px rgba(0, 0, 0, .15);
    -moz-text-shadow: 0 3px 5px rgba(0, 0, 0, .15);
    text-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}
.xie-item h1:after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background-color: #fff;
    margin: 26px auto;
}
.xie-p {
    margin: 3em auto;
}
.xie-p p {
    color: #fff;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
}
.box {
    padding-bottom: 20%;
    padding-top: 2em;
    color: #fff;
    /* width: 60%; */
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.button--winona {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button {
    width: 250px;
    height: 70px;
    display: block;
    background: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    border-color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    border: 3px solid;
    cursor: pointer;
}
.head-but {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,.3);
    min-height: 150px;
}
.head-but ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.head-but ul li {
    float: left;
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 0 4.5%;
}
.head-but ul li span {
    border-radius: 50%;
    border: 2px #fff solid;
    width: 60px;
    height: 60px;
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    line-height: 56px;
}
.container {
    width: 1170px;margin:0 auto;padding:0 15px;overflow: hidden;
}
.dai-tit.serve-tit {
    margin-top: 30px;
}
.dai-tit {
    margin-bottom: 30px;
}
.dai-tit p {
    width: 40%;
    padding: 10px 15px;
    background: #fd5252;
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
}
.serve-con {
    padding: 0px 15px;
    width: 95%;
}
.serve-con p {
    line-height: 25px;
    font-size: 14px;
}
.safe-img {
    padding: 10px;
    width: 30%;
    float: left;
    margin-left: 6%;
}
.safe-img img {
    width: 100%;
}
.safe-content {
    float: right;
    margin-right: 6%;
    padding-top: 5%;
    width: 40%;
}
.safe-content div {
    margin-bottom: 30px;
}
.safe-content p {
    padding: 10px 15px;
    background: #fd5252;
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
}
.safe-content ul li {
    font-size: 1.3em;
    margin-bottom: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.safe-content ul li:hover{
	margin-left: 10px;
}
.safe-content ul li span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 6px 6px 0 0;
}
.safe-content.fei-item {
    float: left;
    margin-right: 0px;
}
.safe-img.fei-item {
    float: right;
    margin-right: 6%;
    margin-left: 0px;
}
.container.mar-top {
    margin-top: 2%;
}
.dai-price table {
    text-align: center;
    font-size: 15px;
    width: 100%;
    background-color: #fff;
    color: #666;
    margin: 10px 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.dai-price table tr {
    cursor: pointer;
}
.dai-price table thead tr th {
    text-align: center;
    font-weight: 600;
    background-color: #f2f2f2;
}
.dai-price table th {
    font-size: 15px;
}
.dai-price td, .dai-price th {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
}
.sm p{
	margin: 0 0 10px;
	font-size: 14px;
}
.sm p:hover{
	margin-left: 5px;
}
.sm p span {
    margin-right: 6px;
}
.dot-red {
    display: inline-block;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
    margin-right: 3px;
    background: #fd5252;
}
.sm hr {
    border-top: 1.4px #fd5252 dashed;
    background: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.down-banner {
    position: relative;
    min-height: 300px;
}
.d-banner.d-banner-2 {
    background: url(../images/bg4.jpg) no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.d-banner .black {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1c1d21;
}
.down-banner .container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
}
.down-banner .banner-txt h2 {
    color: #fff;
    font-size: 2.5em;
}
.container .login-now {
    margin-top: 5%;
    cursor:pointer ;
}
.login-now a {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    border-radius: 4px;
    background: #fd5252;
    color: #fff;
    box-sizing: border-box;
    display: inline-block;
}

@media screen and (max-width: 640px) {
    html,body{
        min-width: 100%;
    }
    .container{
        width: 96%;
        padding:0;
    }
    .zhuanxie-banner .z-b{
        width: 100%;
    }
    .xie-item{
        padding-top: 5%;
    }
    .xie-item h1{
        font-size: 2.5em;
    }
    .xie-p{
        margin:1.5em auto;
    }
    .xie-p p{
        font-size: 16px;
    }
    .box{
        padding-bottom: 35%;
    }
    .button{
        height: 40px;
    }
    .head-but{
        min-height: 106px
    }
    .head-but ul{
        margin-top: 22px;
    }
    .head-but ul li{
        font-size: 14px;
        margin: 0 1.5%;
    }
    .head-but ul li span{
        width: 40px;
        height: 40px;
    }
    .safe-img{
        display: none;
    }
    .safe-content{
        width: 100%;
        margin-right: 0;
    }
    .down-banner .container{
        top:15%;
    }
}