<{include file="public/admin_headermain" /}>
<script type="text/javascript" src="__STATIC__/lib/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/WdatePicker.js"></script>
<!--<link href="__STATIC__/admin/css/public.css" rel="stylesheet" type="text/css">-->
<!--<script type="text/javascript" src="__STATIC__/kindeditor/kindeditor-all-min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--KindEditor.ready(function(K){-->
        <!--var editor1 = K.create('#EditContent');-->
    <!--});-->
<!--</script>-->
<script type="text/javascript" src="__STATIC__/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/lib/ueditor/ueditor.all.js"></script>
</head>
<body>
<div class="bodycontent">
<!--内容页主体部分Begin-->