<{include file="public/admin_header" /}>
<style>
    select{border: 1px solid #DBDBDB;height: 29px;width:25%;}
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top:0;">
    <legend><{$MenuName}>添加</legend>
</fieldset>
<form class="layui-form-pane" action="<{:url('add')}>"  enctype="multipart/form-data" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">文章名称</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="text" name="AboutTitle" size="40" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="text" name="AboutEngTitle" size="40" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="height: 120px;padding-top:50px;">文章摘要</label>
        <div class="layui-input-inline inputTextWidth">
            <textarea name="AboutAbstract" style="height: 120px;" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">文章图片</label>
        <div class="layui-input-inline inputTextWidth">
            <input type="file" name="AboutPicPath" class="layui-input" />
        </div>
        <div class="layui-form-mid layui-word-aux">尺寸：448*518像素</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="height: 403px;padding-top:150px;">文章详情</label>
        <div class="layui-input-inline inputTextWidth" style="width: 80%;">
            <textarea id="EditContent" name="AboutContent" style="width: 100%; height: 400px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item ">
        <label class="layui-form-label">是否禁用</label>
        <div class="layui-form layui-input-inline inputTextWidth radiofile">
            <input type="radio" name="AboutState" value="1" title="已启用" checked>
            <input type="radio" name="AboutState" value="0" title="已禁用">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item " >
        <label class="layui-form-label">推荐</label>
        <div class="layui-form layui-input-inline inputTextWidth radiofile">
            <input type="radio" name="AboutRecommendState" value="0" title="不推荐" checked>
            <input type="radio" name="AboutRecommendState" value="1" title="推荐" >
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <input type="hidden" id="AboutTypeID" name="AboutTypeID">
        <input type="hidden" id="AboutTypePath" name="AboutTypePath">
        <button class="layui-btn"  type="submit">提交保存</button>
    </div>
</form>
<{include file="public/admin_footer" /}>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery,upload = layui.upload;
    });
</script>