<{include file="public/admin_header" /}>
<style type="text/css">
    .layui-form-item{margin-bottom:0;}
    .layui-elem-quote{padding: 3px 15px;}
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top:0;">
    <legend><{$MenuName}>列表</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <div class="layui-form layui-form-pane">
        <form action="<{:url('index')}>" method="get">
            <div class="layui-form-item">
                <!--<label class="layui-form-label" style="width: 80px;">会员类型</label>-->
                <!--<div class="layui-input-inline" style="width: 130px;">-->
                    <!--<select name="MemberTypeID" id="MemberTypeID" style="height:30px;width:30%;">-->
                        <!--<option value="">类型选择</option>-->
                        <!--<{volist name="GetMemberTypeList" id="val"}>-->
                        <!--<option value="<{$val.TypeID}>" <{if condition="!empty($UrlParam.MemberTypeID) && $UrlParam.MemberTypeID eq $val.TypeID"}>selected<{/if}>><{$val.TypeName}></option>-->
                        <!--<{/volist}>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="layui-input-inline">
                    <input type="text" name="invitecode" placeholder="代理会员/邀请码" value="<{$UrlParam.invitecode|default=''}>" class="layui-input" />
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" placeholder="请输手机号" value="<{$UrlParam.keyword|default=''}>" class="layui-input" />
                </div>
                <button class="layui-btn search" type="submit">搜索</button>
				 <a href="<{:url('index',array('balance'=>1))}>" class=" layui-btn layui-btn-mini layui-bg-red ">稿件余额会员</a>
				 <a href="<{:url('index',array('gift'=>1))}>" class="layui-btn layui-btn-mini layui-bg-red">提现余额会员</a>
				  <a href="javascript:void(0);" class=" layui-btn-mini " style="color:#FF5722;font-size:14px;font-weight: bold;">总充值：￥<{$czcount}></a> 
				 <a href="javascript:void(0);" class=" layui-btn-mini " style="color:#FF5722;font-size:14px;font-weight: bold;">发稿余额统计：￥<{$MemberBalanceCount}></a>     
				 <a href="javascript:void(0);"  class=" layui-btn-mini " style="color:#FF5722;font-size:14px;font-weight: bold;">提现余额统计：￥<{$MemberProfit}></a> 
            </div>
        </form>
    </div>
</blockquote>
<form class="layui-form" id="MyForm" method="post">
    <div class="page-module-table">
        <table class="layui-table">
            <thead>
            <tr>
                <th width="60" class="listtitle">
                    <input lay-skin="primary" lay-filter="AllSelectBox" type='checkbox'>
                </th>
                <th class="listtitle">邀请码</th>
				<!--
                <th class="listtitle">推荐代理1</th>
                <th class="listtitle">推荐代理2</th>
				--->
                <th class="listtitle">名称</th>
                <th class="listtitle">类型</th>
                <th class="listtitle">价格类型</th>
                <th class="listtitle">余额</th>
				<th class="listtitle">提现余额</th>
                <th class="listtitle">电话</th>
                <th class="listtitle">微信</th>
				<th class="listtitle">QQ</th>
                <th class="listtitle">状态</th>
                <th  class="listtitle">注册时间</th>
				<th class="listtitle">最后登录时间</th>
				<th  class="listtitle">登录IP</th>
                <th width="160" class="listtitle">操作</th>
            </tr>
            </thead>
            <tbody>
            <{volist name="List" id="val"}>
            <tr>
                <td align="center">
                    <input type="checkbox" name="Del[]" lay-skin="primary" lay-filter="ItemBox" value="<{$val.MemberID}>" />
                </td>
                <td align="center"><{$val.MemberInviteCode|default='--'}></td>
				<!--
                <td align="center"><{$val.MemberName2|default='--'}></td>
                <td align="center"><{$val.MemberName3|default='--'}></td>
				--->
                <td align="center"><{if condition='$val.MemberPicPath'}><img src="<{$val.MemberPicPath}>" width=32 height=32><{/if}><{if condition="$val.MemberName"}><{$val.MemberName}><{else}>ID:<{$val.MemberID}><{/if}></td>
                <td align="center"><{if condition="$val.superacc eq 1"}><font style="color:#5FB878;">接口会员</font><{else}><{if condition='$val.type eq 1'}>广告主<{else}>媒体主<{/if}><{/if}></td>
                <td align="center"><{if condition='$val.MemberPriceType.New'}><{$val.MemberPriceType.New}><{else}>WX<{/if}></td>
                <td align="center"><{$val.MemberBalanceCount}></td>
				<td align="center"><{$val.MemberProfit}></td>
                <td align="center"><{$val.MemberMobile}></td>
				 <td align="center"><{$val.MemberWeiXin}></td>
                <td align="center"><{$val.MemberQQ}></td>
                <td align="center">
                    <input type="checkbox" <{if condition="$val['MemberState'] eq 1"}>checked<{/if}> name="MemberState" lay-skin="switch" Url="<{:url('ajax/ListStateChange')}>" TableName="Member" MainFieldID="MemberID" ChangeField="MemberState" ID="<{$val.MemberID}>" lay-filter="State" lay-text="启用|禁用">
                </td>
                <td align="center"><{$val.MemberTime}></td>
				<td align="center"><{:date('Y-m-d H:i:s',$val.MemberLoginTime)}></td>
				<td align="center"><{$val.IP}></td>
                <td align="center">
                    <div class="layui-btn-group">
                        <a class="layui-btn layui-btn-mini" href="<{:url('finance',array('id'=>$val['MemberID']))}>">财务报表</a>
                        <a class="layui-btn layui-btn-mini" href="<{:url('topup',array('id'=>$val['MemberID']))}>">充值</a>
                        <a class="layui-btn layui-btn-mini" href="<{:url('edit',array('id'=>$val['MemberID']))}>">编辑</a>
                    </div>
                </td>
            </tr>
            <{/volist}>
            </tbody>
        </table>
    </div>
    <div class="layui-form layui-form-pane" style="margin-top: 10px;">
        <div class="layui-form-item" style="float: left;">
            <div class="layui-input-inline">
                <select id="OperationType">
                    <option value="0">请选择...</option>
                    <option value="Del" url="<{:url('del')}>">批量删除</option>
                </select>
            </div>
            <button class="layui-btn search" type="button" onclick="ExecuteCheck();">执行</button>
        </div>
        <div class="layui-box layui-laypage layui-laypage-default" style="float:right; margin: 0;">
            <{$List->render()}>
        </div>
        <div class="clear"></div>
    </div>
</form>
<{include file="public/admin_footer"}>